body{
    font-family: "Cabin", sans-serif;
    background-color: black;
    
}

p , i , h4, form {
    color: white;
}

.box-icon{
    padding: 2px;
}

nav img {
    width: 25px;
    height: 25px;
 }

 .width-80 {
    width: 80%;
 }

 #Destacados img {
    max-height: 130px;
 }

 .box-icon, .card, .btn, #Footer{
    background-color: #0dcaf0;
 }

#Footer a{
    color: white;
    text-decoration: none;

}