body{
    background-color: black;
    
}

.box-icon, .card{
   background-color: #0dcaf0;
}

p , i , h4 {
    color: white;
}

.box-icon{
    padding: 2px;
}


nav img {
    width: 25px;
    height: 25px;
 }

 .width-80 {
    width: 80%;
 }

 #Destacados img {
    max-height: 130px;
 }